
/* 1. INDEX.HTML CSS */
.header{
    background-color: $sub_bg_color;
    padding: 60px;
}
.headerContent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 0 auto;
}
.bmiLogo{
    h1{
        a{
            @include logo_for_searchEngine(117px,117px,"../img/BMILogo.png");
            margin: 20px;
        }
    }
}
.dataInput{
    margin: 20px;
    label{
        color: #fff;
    }
    input{
        display: block;
        margin-top: 5px;
        font-family: $font_type;
        font-size: 16px;
        padding: 5px;
        border: 3px solid #fff;
        border-radius: 10px;
        &:focus{
            border: 3px solid $main_bg_color;
            outline: none;
        }
        &:nth-of-type(1){
            // 指定第一個input
            margin-bottom: 10px;
        }
    }
}
.sendBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 30px 10px;
    background-color: $main_bg_color;
    border-radius: 50%;
    cursor: pointer;
    .cycleBtnText{
        @include cycleBtnText(40px)
    }
    &:hover,&:focus{
        box-shadow: 3px 3px 15px 2px $main_bg_color,
        -3px -3px 15px 2px $main_bg_color,
        // 疊兩層偏移不同的陰影
    }
    &:active{
        background-color: $main_bg_color_dark;
        box-shadow: 3px 3px 15px 2px $main_bg_color_dark,
        -3px -3px 15px 2px $main_bg_color_dark,
    }
}
.resultBtn{
    display: none;
    flex-direction: column;
    position: relative;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 30px 10px;
    border-radius: 50%;
    border: 5px solid;
    padding-top: 10px;
    cursor: default;
    // 隨bmiType改變class
    &.bmiTypeUnderWeight{
        border-color: $bmi_color_underWeight;
        color: $bmi_color_underWeight;
    }
    &.bmiTypeNormal{
        border-color: $bmi_type_normal;
        color: $bmi_type_normal;
    }
    &.bmiTypeOverWeight{
        border-color: $bmi_type_overWeight;
        color: $bmi_type_overWeight;
    }
    &.bmiTypeMildObesity{
        border-color: $bmi_type_mildObesity;
        color: $bmi_type_mildObesity;
    }
    &.bmiTypeModerateObesity{
        border-color: $bmi_type_moderateObesity;
        color: $bmi_type_moderateObesity;
    }
    &.bmiTypeSevereObesity{
        border-color: $bmi_type_severeObesity;
        color: $bmi_type_severeObesity;
    }

    .cycleBtnText{
        @include cycleBtnText(20px)
    }
    .smallText{
        font-size: 12px;
        font-weight: normal;
    }
    h3{
        position: absolute;
        right: -120px;
        top: 36px;
    }
    .loopIcon{
        position: absolute;
        right: -5px;
        bottom: -5px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        text-align: center;
        border: 5px solid $sub_bg_color;
        padding: 4px 0;
        cursor: pointer;
        &:hover,&:focus{
            box-shadow: 3px 3px 5px $main_bg_color,
            -3px -3px 5px $main_bg_color;
        }

        // 隨bmiType改變class
        &.bmiTypeUnderWeight{
            background-color: $bmi_color_underWeight;
        }
        &.bmiTypeNormal{
            background-color: $bmi_type_normal;
        }
        &.bmiTypeOverWeight{
            background-color: $bmi_type_overWeight;
        }
        &.bmiTypeMildObesity{
            background-color: $bmi_type_mildObesity;
        }
        &.bmiTypeModerateObesity{
            background-color: $bmi_type_moderateObesity;
        }
        &.bmiTypeSevereObesity{
            background-color: $bmi_type_severeObesity;
        }
        // 增加動畫效果
        &:hover{
            animation: spin 1.5s infinite;
            transition: ease;
        }
    }
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    h2{
        margin-top: 30px;
    }
}
.resultTable{
    margin: 20px auto 10px auto;
    border-collapse: separate;
    border-spacing: 0 20px;
    font-size: 20px;
    font-weight: bold;

    .smallText{
        font-size: 14px;
        margin-right: 5px;
        font-weight: normal;
    }

    .dataText{
        font-size: 16px;
        font-weight: normal;
    }
    tr{
        background-color: #fff;
    }
    td{
        padding: 20px;
    }
    .bmiType{
        border-left: 8px solid #000;
        &.bmiTypeUnderWeight{
            border-color: $bmi_color_underWeight;
        }
        &.bmiTypeNormal{
            border-color: $bmi_type_normal;
        }
        &.bmiTypeOverWeight{
            border-color: $bmi_type_overWeight;
        }
        &.bmiTypeMildObesity{
            border-color: $bmi_type_mildObesity;
        }
        &.bmiTypeModerateObesity{
            border-color: $bmi_type_moderateObesity;
        }
        &.bmiTypeSevereObesity{
            border-color: $bmi_type_severeObesity;
        }
    }
    .pure-button{
        padding: 5px 10px;
    }
}
.totalRecordNum{
    margin-bottom: 20px;
    font-size: 18px;
}

.pageShow{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    li{
        a{
            text-decoration: none;
            display: block;
            padding: 10px 20px;
        }
    }
}

.pageActive {
    background: $main_bg_color;
}
.pageOther{
    @include pageBtnColor(#000)
}
.pagePrev,.pageNext{
    @include pageBtnColor(#790f0c)
}
.page1st,.pageLast{
    @include pageBtnColor(#272727)
}

/* 讓按鈕活潑 */
@keyframes spin{
    0%{   
        transform: rotate(0);
    }
    50%{   
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* 1. INDEX.HTML CSS END */