// logo 圖片設定
@mixin logo_for_searchEngine($width,$height,$imgUrl) {
	width: $width;
	height: $height;
	background-image: url($imgUrl);
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
	
}

// 圓圈按鈕文字
@mixin cycleBtnText($margin) {
	display: block;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin: $margin 0;
}

// 分頁按鈕顏色
@mixin pageBtnColor($color) {
	background: #f5f5f5;
    color: $color;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    &:hover{
        background: $main_bg_color;
        color: white;
    }
}
