/* Overall setting */
$font_type: 微軟正黑體;

$main_bg_color: #ffd366;
$main_bg_color_dark:  #dea821;
$sub_bg_color: #424242;



/* 各種類型所代表的顏色 */
/* 以後類型要改顏色來這邊改就好 不用CSS一個一個改 */
$bmi_color_underWeight: #86d73f;
$bmi_type_normal: red;
$bmi_type_overWeight: #ff1200;
$bmi_type_mildObesity: #ff6c03;
$bmi_type_moderateObesity: #ff982d;
$bmi_type_severeObesity: #31baf9;
