@charset "UTF-8";
/* Overall setting */
/* 各種類型所代表的顏色 */
/* 以後類型要改顏色來這邊改就好 不用CSS一個一個改 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS reset for RWD */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* -- CSS reset END -- */
/* CSS RESET and RWD RESET */
/* -- 0. Overall page setting -- */
body {
  font-family: 微軟正黑體;
}

p {
  text-align: justify;
  text-indent: 1em;
}

/* 統一字型大小 h2~h6,p {font-size} */
h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  text-indent: 2em;
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
}

.footer {
  margin: 0 auto;
  background-color: #ffd366;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* -- 0. Overall page setting END -- */
/* 1. INDEX.HTML CSS */
.header {
  background-color: #424242;
  padding: 60px;
}

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  margin: 0 auto;
}

.bmiLogo h1 a {
  width: 117px;
  height: 117px;
  background-image: url("../img/BMILogo.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  margin: 20px;
}

.dataInput {
  margin: 20px;
}

.dataInput label {
  color: #fff;
}

.dataInput input {
  display: block;
  margin-top: 5px;
  font-family: 微軟正黑體;
  font-size: 16px;
  padding: 5px;
  border: 3px solid #fff;
  border-radius: 10px;
}

.dataInput input:focus {
  border: 3px solid #ffd366;
  outline: none;
}

.dataInput .inputNotice {
  color: red;
  font-size: 16px;
  visibility: hidden;
}

.dataInput .inputNotice.noticeShow {
  visibility: visible;
}

.sendBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  margin: 30px 10px;
  background-color: #ffd366;
  border-radius: 50%;
  cursor: pointer;
}

.sendBtn .cycleBtnText {
  display: block;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 40px 0;
}

.sendBtn:hover, .sendBtn:focus {
  -webkit-box-shadow: 3px 3px 15px 2px #ffd366, -3px -3px 15px 2px #ffd366;
          box-shadow: 3px 3px 15px 2px #ffd366, -3px -3px 15px 2px #ffd366;
}

.sendBtn:active {
  background-color: #dea821;
  -webkit-box-shadow: 3px 3px 15px 2px #dea821, -3px -3px 15px 2px #dea821;
          box-shadow: 3px 3px 15px 2px #dea821, -3px -3px 15px 2px #dea821;
}

.resultBtn {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 100px;
  margin: 30px 10px;
  border-radius: 50%;
  border: 5px solid;
  padding-top: 10px;
  cursor: default;
}

.resultBtn.bmiTypeUnderWeight {
  border-color: #77b3d7;
  color: #77b3d7;
}

.resultBtn.bmiTypeNormal {
  border-color: #7ac74f;
  color: #7ac74f;
}

.resultBtn.bmiTypeOverWeight {
  border-color: #f69a79;
  color: #f69a79;
}

.resultBtn.bmiTypeMildObesity {
  border-color: #f26430;
  color: #f26430;
}

.resultBtn.bmiTypeModerateObesity {
  border-color: #e6480f;
  color: #e6480f;
}

.resultBtn.bmiTypeSevereObesity {
  border-color: #ad360b;
  color: #ad360b;
}

.resultBtn .cycleBtnText {
  display: block;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

.resultBtn .smallText {
  font-size: 12px;
  font-weight: normal;
}

.resultBtn h3 {
  position: absolute;
  right: -120px;
  top: 36px;
}

.resultBtn .loopIcon {
  position: absolute;
  right: -5px;
  bottom: -5px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  border: 5px solid #424242;
  padding: 4px 0;
  cursor: pointer;
}

.resultBtn .loopIcon:hover, .resultBtn .loopIcon:focus {
  -webkit-box-shadow: 3px 3px 5px #ffd366, -3px -3px 5px #ffd366;
          box-shadow: 3px 3px 5px #ffd366, -3px -3px 5px #ffd366;
}

.resultBtn .loopIcon.bmiTypeUnderWeight {
  background-color: #77b3d7;
}

.resultBtn .loopIcon.bmiTypeNormal {
  background-color: #7ac74f;
}

.resultBtn .loopIcon.bmiTypeOverWeight {
  background-color: #f69a79;
}

.resultBtn .loopIcon.bmiTypeMildObesity {
  background-color: #f26430;
}

.resultBtn .loopIcon.bmiTypeModerateObesity {
  background-color: #e6480f;
}

.resultBtn .loopIcon.bmiTypeSevereObesity {
  background-color: #ad360b;
}

.resultBtn .loopIcon:hover {
  -webkit-animation: spin 1.5s infinite;
          animation: spin 1.5s infinite;
  -webkit-transition: ease;
  transition: ease;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5f5;
}

.main h2 {
  margin-top: 30px;
  text-align: center;
}

.main h2 .removeAll {
  text-decoration: none;
  margin-left: 20px;
  display: inline-block;
  width: 80px;
  height: 24px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  border: #ca3c3c 2px solid;
  background: #ca3c3c;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.main h2 .removeAll:hover {
  color: #ca3c3c;
  background: #fff;
}

.resultTable {
  margin: 20px auto 10px auto;
  border-collapse: separate;
  border-spacing: 0 20px;
  font-size: 20px;
  font-weight: bold;
}

.resultTable .smallText {
  font-size: 14px;
  margin-right: 5px;
  font-weight: normal;
}

.resultTable .dataText {
  font-size: 16px;
  font-weight: normal;
}

.resultTable tr {
  background-color: #fff;
}

.resultTable td {
  padding: 20px;
}

.resultTable .bmiType {
  border-left: 8px solid #000;
}

.resultTable .bmiType.bmiTypeUnderWeight {
  border-color: #77b3d7;
}

.resultTable .bmiType.bmiTypeNormal {
  border-color: #7ac74f;
}

.resultTable .bmiType.bmiTypeOverWeight {
  border-color: #f69a79;
}

.resultTable .bmiType.bmiTypeMildObesity {
  border-color: #f26430;
}

.resultTable .bmiType.bmiTypeModerateObesity {
  border-color: #e6480f;
}

.resultTable .bmiType.bmiTypeSevereObesity {
  border-color: #ad360b;
}

.resultTable .pure-button {
  padding: 5px 10px;
}

.totalRecordNum {
  margin-bottom: 20px;
  font-size: 18px;
}

.pageShow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.pageShow li a {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
}

.pageActive {
  background: #ffd366;
}

.pageOther {
  background: #f5f5f5;
  color: #000;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pageOther:hover {
  background: #ffd366;
  color: white;
}

.pagePrev, .pageNext {
  background: #f5f5f5;
  color: #790f0c;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pagePrev:hover, .pageNext:hover {
  background: #ffd366;
  color: white;
}

.page1st, .pageLast {
  background: #f5f5f5;
  color: #272727;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.page1st:hover, .pageLast:hover {
  background: #ffd366;
  color: white;
}

/* 讓按鈕活潑 */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* 1. INDEX.HTML CSS END */
/*# sourceMappingURL=all.css.map */